name: Build Tweak
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Theos
        uses: theos/setup-theos-action@v1.0.2  # Version précise pour éviter les erreurs de dépôt

      - name: Build Tweak
        run: |
          make
          
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: OneState-Dylib
          path: .theos/obj/debug/*.dylib
